body {
    color: #000;
    font-family: "Lucida Grande",Tahoma,Verdana,Helvetica,sans-serif;
    margin: 0;
    font-size: 0.80em;
    word-wrap: break-word;
    background-color:#fff;
}
div {
    display: block;
}
#üst
{
    background-color:#ff6a6a;
    width:110%;
    margin-top:-15px;
}
#top_container {
    width: 100%;
}
#top_center {
    width: 73%;
    margin: 0 auto;
}
#giris
{
    margin-top:-13px;
    margin-right:100px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a {
    color: #000;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
a img {
    border: none;
}
a img {
    margin: 2px;
}
form {
    margin-right: 20px;
    padding: 0;
    width: 100%;
}
form div {
    margin-bottom: 1em;
    vertical-align: text-top;
}
input, textarea {
    font-size:large;
    border: 1px solid #ccc;
    font-family: arial, "lucida grande", "verdana", sans-serif;
}

#menu_container {
    width: 100%;
    margin: 0 auto;
    z-index: 999999;
}
ul.topnav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    width: 73%;
}

ul.topnav li {
    float: left;
    display: block;
}
ul.topnav li a {
    display: block;
    color: #000;
    text-align: left;
    padding: 8px 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
    font-weight:bold;
}
#footer {
    clear: both;
    height: 115px;
    margin-top: 50px;
    margin-bottom:-15px;
    width:110%;
}
.palette1 {
    background: #ff6a6a;
}
#footer_inner {
    width: 73%;
    margin: 0 auto;
    padding: 30px;
    color: #000;
}
.left {
    float: left;
}
.right {
    float: right;
}
#footer_inner a, #footer_inner a:hover {
    color: #000;
    text-decoration: none;
}
.clear {
    clear: both;
}
.clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    width: 0px;
    margin: 0px;
    border: 0px;
}
#login_table {
    background: inherit;
}

table {
    background: #fff;
    border-right: 0;
    clear: both;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#login_table tr {
    margin: 3px;
    background: inherit;
}
#login_table td {
    border: 0;
    padding: 0;
    margin: 3px;
    background: inherit;
}
table tr:nth-child(2n) td {
    background: #f5f5f5;
}
table tr td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}
input[type="button" i]
{
    background-color:#000;
    height:24px;
    width:40px;
    color: white;
    border:2px solid #000;
}
input[type="password" i],input[type="text" i]
{
    color:#808080;
    height:20px;
    border:1px solid #000;
    width:148px;
}


.mbottom {
    margin:10px 200px 10px;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
    color: #0D0B0A;
}


#main_visitor_left {
    width: 20%;
}
.tanitmaca {
    margin-bottom: 20px;
    margin-left:200px;
    border:2px solid  #ff6a6a;
    padding:5px 10px;
    width:200px;
}
.tanitmaca h2 {
    color: #002B5F;
    margin-bottom: 10px;
}
.tanitmaca p {
    color: #000;
}

.nbottom
{
    margin-bottom:20px;
}
#main_visitor_right {
    border: none;
}